/* header样式 */
#header{
    background: #A9180A;
    height: 32px;
    line-height: 32px;
    border-bottom:1px solid #a9180a;
}
.header-left{
    /* background: #000; */
    float: left;
}
.header-left span{
    font-size: 12px;
    color: #FFFFFF;
}
.header-left a{
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
}
.header-right > li{
    float: left;
    padding: 0 14px 0 10px;
    font-size: 12px;
}
.header-right{
    float: right;
}
.header-right > li{
    height: 33px;
}
.header-right > li >a{
    color: #ccc;
}
.header-right > li:hover{
    background: #ffffff;
}
.header-right > li:hover > a{
    color:#ff0036;
}
.header-hover{
    position: relative;
}
.hover-list{
    width: 80px;
    /* color: #000; */
    /* background: #eee00e; */
    line-height: 20px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 32px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}
.list-two{
    width: 60px;
}
.hover-list > li > a{
    color: #999;
}
.hover-list > li:hover >a{
    color:#ff0036;
    text-decoration: underline;
}
.header-hover:hover .hover-list{
    display: block;
}
.header-san{
    position: relative;
}
/* 箭头旋转 */
.header-san:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
/* .iconfont{
    color: #eeeeee;
} */
/* header结束 */
